# ===== Core scientifique =====

numpy==1.26.4
scipy==1.13.1
pandas==2.2.2

# ===== Visualisation =====

matplotlib==3.8.4
seaborn==0.13.2

# ===== Machine Learning =====

scikit-learn==1.4.2
joblib==1.4.2

# ===== Deep Learning =====

torch==2.4.1
monai==1.5.0

# ===== Imagerie médicale =====

nibabel==5.2.1
pydicom==3.0.1
SimpleITK==2.3.1
pyradiomics==3.0.1

# ===== nnU-Net & segmentation =====

nnunetv2
TotalSegmentator

# ===== Synapse API =====

synapseclient
synapseutils
urllib3

# ===== Utilitaires =====

tqdm==4.66.4
pyyaml==6.0.2
ruamel.yaml==0.18.6

# ===== Jupyter (optionnel mais utile) =====

ipykernel
ipython
jupyter_client
jupyter_core

# ===== Excel =====

openpyxl
xlsxwriter
